p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

.kclass pre {
  line-height: normal;
}

.book .book-body .page-wrapper .page-inner {
  max-width: 90% !important;
}

#header {
  line-height: 60%;
  color: #262626;
}

.cluster pre {
  background: #00020d !important;
  color: #c2c2c2;
}

.cluster code {
    color: #c2c2c2 !important;
    background: #00020d !important;
    border-color: #00020d !important;
}